* {
    font-family: 'Oxygen', sans-serif;
    outline: 0 !important;
}

body {
    padding: 0px;
    margin: 0px;
}

button {
    background-color: white;
    border: 1px solid black;
}

button:hover {
    cursor: pointer;
}

button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

header.header {
    padding: 0 35% 0 35%;
    height: fit-content;
    padding-bottom: 5px;
    border-bottom: 1px solid grey;
    width: auto;
}

div.header-search {
    width: 100%;
    margin-top: 5px;
    padding: 2px;
    /*border: 1px solid red;*/
}

div.search {
    /*border: 1px solid yellow;*/
}

#input-search-value {
    height: 26px;
    padding-left: 5px;
    border: 1px solid black;
    font-size: 13px;
    font-weight: bold;
    width: 100%;
    width: calc(100% - 44px);
}

#button-search {
    width: 34px;
    height: 30px;
    float: right;
    background: url(images/search_black_24dp.svg) no-repeat;
    background-size: 20px;
    background-position: center center;
}

#info-search {
    font-size: 10px;
    color: black;
    opacity: 80%;
    font-style: italic;
}

div.container {
    margin: 0 10% 0 10%;
    /*border: 1px solid blue;*/
}

div.sql-menu {
    width: 100%;
    height: 30px;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 5px;
}

div.sql-result {
    width: 100%;
    height: 30px;
    padding: 0px;
    margin-top: 10px;
}

button.button-sql-menu {
    height: 100%;
    border: 1px solid black;
    background-color: white;
}

button.button-sql-menu:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

button.button-sql-menu:hover {
    cursor: pointer;
}

button.button-result-menu {
    height: 100%;
    border: 1px solid black;
    background-color: white;
}

div.container-query {
    width: 100%;
    height: 35vh;
    padding: 0px;
    margin-bottom: 5px;
}

div.result {
    width: 100%;
    height: 40vh;
    font-size: 13px;
    overflow: auto;
    border: 1px solid black;
}

#result-text {
    margin: 5px;
}

div.result-info {
    width: 100%;
    height: 5vh;
    font-size: 11px;
}

.result-table {
    border-collapse: collapse;
    border-spacing: 0px;
    padding-top: 5px;
}

#result-status {
    float: left;
    padding-left: 5px;
    /*color: green;*/
}

#result-stats {
    float: right;
    padding-right: 5px;
}

table, th, td {
    font-family: 'IBM Plex Serif', monospace;
    border: 1px solid black;
    padding: 5px;
    border-collapse: collapse;
    border-spacing: 0px;
    margin-left: 5px;
}

th {
    position: sticky;
    top: 0;
    color: white;
    background-color: black;
}

textarea {
    font-family: 'IBM Plex Serif', monospace;
    font-size: 13px;
    height: 100%;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #F5F5F6
}

textarea:focus {
    outline: none !important;
    /* border:1px solid red;
    box-shadow: 0 0 10px #719ECE;*/
}

#text-pre-search {
    font-family: 'Oxygen', sans-serif;
    font-size: 13px;
}

.placeholder {
    position: relative;
    display: inline-block;
    padding-right: 50px;
}

.placeholder::after {
    position: absolute;
    right: 5px;
    top: 1px;
    content: 'sasfasfasf';
    pointer-events: none;
    opacity: 0.6;
}

@media only screen and (max-width: 850px) {
    div.container {
        margin: 1%;
    }
    header.header {
        padding: 1%;
    }
    div.header-search {
        padding: 0px;
    }
}